.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.distance {
  padding: 20px;
}
.container {
  width: 100%;
  padding: 15 px;
  margin: 0 auto;
}
.col-1-3 {
  width: 50%;
  float: left;
}
.line {
  border-right: 1px solid black; 
}

.col-2-3 {
  float: left;
  padding-left: 100px;
}
.row {
  padding: 40px;
}

.line2 {
  border-top: 1px solid black;
  width: 400px;
}
.position {
  text-align: center;
}
.part {
padding: 10px 30px;
}
.name {
  font-size: 12px;
}
.parent {
  position: relative;
}